  
<div class="main">
    <form class="container-form" [formGroup]="miFormulario" (ngSubmit)="addPerson(miFormulario)">
        <!-- <label for="textName">Name</label>
        <input type="text" name="textName" formControlName="name">
        <label for="textApellido">Apellido</label>
        <input type="text" name="textApellido" formControlName="apellido"> -->
        <!-- campo seccion  -->
       <div class="agrupados">
        <label for="textSeccion">seccion</label>
        <input type="text" name="textSeccion" formControlName="seccion">
        <div class="separete-v">
            <label for="selectEtiqueta">Etiqueta</label>
            <select name="selectEtiqueta"  formControlName="etiqueta">
                <option value="p">parrafo</option>
                <option value="h1">h1</option>
                <option value="h2">h2</option>
                <option value="h3">h3</option>
                <option value="img">img</option>
                <option value="code">code</option>
                
            </select>
        </div>
        <div>
            <label for="textClase">clase</label>
           <!--  <input type="text" name="textClase" formControlName="clase"> -->
            <select name="textClase" formControlName="clase">
                <option *ngFor ="let cont of clasesCss" value={{cont.clase}} >{{cont.clase}}</option>
            </select>
        </div>
       </div>

       <!-- campo tipo de etiqueta  -->
        

        <!-- campo clase  -->
       

       


        <!-- campo dato -->
        <div class="separete-v">
            <label for="textContenido">contenido</label>
            <textarea name="textContenido" cols="100" rows="10" formControlName="contenido"></textarea>
        </div>

         <!-- campo url  -->
         <label for="textUrl">url</label>
         <input type="text" name="textUrl" formControlName="url">

    <!-- campo subcontenido-->
         <div class="separete-v">
            <label for="textSubcontenido">Subcontenido</label>
            <textarea name="textSubcontenido" cols="100" rows="10" formControlName="subcontenido"></textarea>
        </div>

    <!-- campo codigo-->
         <div class="separete-v">
            <label for="textCodigo">codigo</label>
            <textarea name="textCodigo" cols="100" rows="10" formControlName="codigo"></textarea>
        </div>





        <input type="submit" value="Enviar" >
    </form>

       

    <div *ngFor="let mi of miarray; let i = index">
        <div>
            <div class="parrafo">{{mi.clase}}</div>
            <div class="parrafo">{{mi.contenido}}</div>
            <div class="parrafo">{{mi.etiqueta}}</div>
            <div class="parrafo">{{mi.seccion}}</div>
            <div class="parrafo">{{mi.subcontenido}}</div>
            <div class="parrafo">{{mi.url}}</div>
            

            <button type="button" (click)="removeItem2(i)">borrar item {{i}}</button>
        </div> 
    </div>
    


  <hr>

    <div><button (click)="generarHTML(miarray)">enviar array</button></div>

    <p (click)="mostrarConsole()">oprimier para mistrar</p>

   <!--  <div *ngFor="let mi of miarray; let i = index">

        <p>{{mi.etiqueta}} : {{mi.dato}} user {{i+1}}</p>
        
    </div> -->

    <!-- <div *ngFor="let mi2 in miarray">
        <p>{{mi2}}</p>
    </div> -->


    <div class="container-form">
        <div *ngFor="let mi of arrayContenido; let i = index">
            <div>
                <p class="parrafo">{{mi}}</p>
                <button type="button" (click)="removeItem(i)">borrar item {{i}}</button>
            </div>
            
        </div>

    </div>

    <hr>

    <p>{{arrayProvisional}}</p>
    <p *ngFor ="let col of ArrayEtiquetas">{{col.etiqueta}}</p>



    <div>
        <button (click)="consultarBD()">consular api</button>
    </div>

</div>
<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->

