.example-card{
    width: 25%;
    border: 1px solid black;
    margin: 20px;
   
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(4, 161, 161);
    border: 1px solid black;
    margin: 5px;
}

.separete-v{
   
    margin: 20px 0;
  
}

.separete-v>*{
    margin-left: 10px;
}

.main{
    min-width: 400px;
    max-width: 1000px;
    margin: 0 auto;
}

.container-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: bisque;
    align-items: start;
    padding: 50px;
}

.parrafo{
    border: 1px solid black;
    padding: 10px;

}

.agrupados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

.boton-subcontenido{
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(233, 218, 7);
    border: 3px solid blue;
}
.boton-subcontenido:hover{
   
    background-color: rgb(113, 113, 124);
  
}

.boton-enviar{
    padding: 10px 30px;
    background-color: rgb(89, 14, 118);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 30px;
}

.boton-enviar:hover{
    background-color: rgb(21, 86, 86);
}

.boton-borrar{
    padding: 10px 30px;
    background-color: rgb(154, 18, 18);
    font-size: 1.5rem;
}

.presentar-datos{
    font-size: 1rem;
    border: 1px solid blue;
    margin: 5px 0;
}

.presentacion-informacion{
    border: 1px solid orange;
    padding: 10px 5px;
}